<nav class="w-72 bg-white">
  <ul
    class="scrollbar-thumb-rounded-full w-full space-y-2 overflow-y-auto px-4 scrollbar scrollbar-thin scrollbar-track-inherit scrollbar-thumb-slate-300"
    style="height:90vh">
<li>
  <a href="/book/1"
  class="flex w-full cursor-pointer items-center justify-between rounded-md px-2 py-3 text-base font-normal hover:bg-purple-100"
  >
  <div class="flex items-center">
    <span class="ml-3">Книга</span>
  </div>
  </a>
</li>
<li>
  <a href="/books"
  class="flex w-full cursor-pointer items-center justify-between rounded-md px-2 py-3 text-base font-normal hover:bg-purple-100"
  >
  <div class="flex items-center">
    <span class="ml-3">Список книг</span>
  </div>
  </a>
</li>
    <li>
  <a href="/сategories"
  class="flex w-full cursor-pointer items-center justify-between rounded-md px-2 py-3 text-base font-normal hover:bg-purple-100"
  >
  <div class="flex items-center">
    <span class="ml-3">Категорії</span>
  </div>
  </a>
</li>
  </ul>
</nav>
