<div class="w-full flex items-center gap-4">
  <div class="w-24">
  <img src="https://litpro2.oa.edu.ua/df1a9956-a622-4313-88cc-ba4a43037611/covers/f2178ebe-439e-41c8-91bc-e99908f73d0f7698-small.jpg"
  alt="cover">
  </div>
  <div class="flex-1">
    <h3>
      <b><a href="/books/preview/7698"> Комп’ютерні мережі. Т. 2 </a></b> Буров Є. В., Митник М. М.</h3>
    <small>Видання: <b>Львів : Магнолія 2006</b></small><br>
    <small>Мова: <b>Українська</b></small><br>
    <small>Рік: <b>2019</b></small>

    <div>
      <button mat-raised-button color="primary" type="submit">
        Переглянути
      </button>
    </div>
  </div>
</div>
